<div class="home">
    <h2>An outlet to have all your favorite songs and more!</h2>
    <p> Tune Up allows you to easily search through any artists and songs and save them to your profile.
        This application can help you search for the latest and oldest songs ever!  
        Connect with others that similarily favorited the same artists/songs by posting comments and share
        your thoughts!
    </p>
    <h3><a href="/auth/signup">Sign up</a> or <a href="/auth/login">log in</a></h3>
    <br>
    <br>
    <p style="font-size:xx-small;">Tune Up is a CRUD RESTful API application that utilizes the Node.js environment, Express.js server and a PostgreSQL database. Shazam API is utilized within this applicaiton.</p>
</div>