<div class="home">
    <h2>An outlet to have all your favorite songs and more!</h2>
    <h3><a href="/auth/signup">Sign up</a> or <a href="/auth/login">log in</a></h3>
    <div class="lofi-girl">
        <img src="https://tenor.com/view/lo-fi-girl-cat-gif-21433483" alt="lofi-girl">
    </div>
    </br>
    <h4></h4>
    </br>
    Tune Up is a CRUD RESTful API application that utilizes the Node.js environment, Express.js server and a PostgreSQL database. Shazam API is utilized within this applicaiton.</p>
</div>