<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <title>Tune Up</title>
</head>
<body>
    <header>
        <nav>
            <ul>
              <% if (!currentUser) { %>
                <li><a class="navigation" href="/auth/signup">Signup</a></li>
                <li><a class="navigation" href="/auth/login">Login</a></li>
              <% } else { %>
                <li><a class="navigation" href="/search">Search</a></li>
                <li><a class="navigation" href="/profile">Profile</a></li>
                <li><a class="navigation" href="/auth/logout">Logout</a></li>
              <% } %>
            </ul>
          </nav>
          <h1>Tune Up</h1>
    </header>
    <%- include('partials/alerts') %>
    <%- body %> 
</body>
</html>